<div class="tr-banner section-before bg-image" style=" background-image: url(<%= image_path "backhp.jpg" %>);
 ">
    <div class="container">
      <div class="banner-content text-center">
        <h1>Find your next kitesurf trip</h1>
        <h2>We go over wind stats and user reviews to give you the best match</h2>
        <div class="banner-form">
          <form action="<%= places_path %>">
            
            <div class="dropdown tr-change-dropdown">
              <select name="start_month" class="form-control">
                <option selected value="">Start Month</option>
                <% months = %w[January February March April May June July August September October November December] %> 
                
                <% months.each_with_index do |month, index| %>
                  <option value='<%= index + 1 %>'><%= month %></option>
                <% end %>
              </select>
            </div><!-- /.category-change -->
            <div class="dropdown tr-change-dropdown">
              <select name="end_month" class="form-control">
                <option selected value="">End Month</option>
                <% months.each_with_index do |month, index| %>
                  <option value='<%= index + 1 %>'><%= month %></option>
                <% end %>
              </select>
            </div><!-- /.category-change -->
            <button type="submit" class="btn btn-primary" value="Search">Search</button>
          </form>
        </div><!-- /.banner-form -->
      </div><!--/. banner-content -->
    </div><!-- /.container -->
</div><!-- /.tr-banner -->
