<figure class="snip0051">
  <%= link_to '', place_wishlists_place_path(place, wishlist.wishlists_places.first), class:'fa fa-times icon-wishlist', method: :delete %>
  <div class='div-img' style='height:190px; background: url(<%= image_path place.photo %>); background-size: cover;'>
  </div>
  <%= render 'shared/wishpop', place: place %>
  <figcaption style='border: 1px solid rgba(29, 190, 207, 0.1);'>
    <h2 style='bottom:70%'><%= place.name %></h2> 
    <p style='top:30%'><%= place.description.first(50) + '... ' %><%= link_to '<br>Read More'.html_safe, place_path(place)%> </p>
  </figcaption> 
</figure>

    