<div class="example-2 card">
  <div class="wrapper" style='background:linear-gradient(-225deg, rgba(50,50,50,0.8) 0%, rgba(0,36,61,0.6) 30%), url(<%= image_path place.photo %>) center / cover no-repeat;'>
    <div class="header">
      <ul class="menu-content">
        <li><a href="#" class="fa fa-heart-o" data-toggle="modal" data-target="#exampleModalLong<%= place.id %>"></a></li>
        
      </ul>
    </div>
    <%= render 'shared/wishpop', place: place %>
    <div class="data">
      <div class="content">
        <h1 class="title"><%= link_to place.name.capitalize, place_path(place) %></h1>
        <p class="text"><%= place.description.first(105) %>
          <%= "..." if place.description.length > 105 %></p>
        <%= link_to 'Read More', place_path(place), class:'button' %>
      </div>
    </div>
  </div>
</div>

