<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
   <%= image_tag "logokite.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "All Spots", places_path , class: "navbar-wagon-item navbar-wagon-link" %>
    <%= render 'shared/messenger' %>
    <% if user_signed_in? %>
      <!-- Links when logged in -->

      <%= link_to "Buy products", products_path , class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to "All Spots", places_path , class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://www.jobsenboite.com/images/avatar/default-avatar.png" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="navbar-wagon-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user" style='margin: 0 2px;'></i> <%= t(".profile", default: "My account") %>
              <% end %>
            </li>
            <li>
              <%= link_to wishlists_path do %>
                <i class="fa fa-heart"></i> My Wishlist
              <% end %>
            </li>
            <li>
              <%= link_to orders_path do %>
                <i class="fa fa-shopping-cart"></i> My orders
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->

      <%= link_to "Buy products", products_path , class: "navbar-wagon-item navbar-wagon-link" %>
       <%= link_to "All Spots", places_path , class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>


