<div class="col-md-3 col-sm-6">
  <span class="thumbnail">
    <img src="<%= product.image_link %>" alt="...">
    <div class='bottom'>
    <h4><%= product.title %></h4>
    
      <hr class="line">
      <div class="row details-product">
        <p class="price pull-left"><%= product.price %> €</p>  
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'product_id', product.id %>
          <%= submit_tag 'BUY ITEM', class: 'btn btn-primary pull-right' %>
        <% end %>
      </div>
    </div>
  </span>
</div>