<div id="ReviewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a review</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@place, @review] do |f| %>
          <%= f.input :content %>
          <% if !current_user.nil? %>
            <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
          <% end %>
          <%= f.input :place_id, :as => :hidden, :input_html => { :value => @place.id } %>
          <%= f.input :rating, collection: [0,1,2,3,4,5]%>
          <%= f.button :button, class:'btn btn-success' %>
        <% end %>
      </div>
    </div>

  </div>
</div>