

<!-- Modal -->
<div class="modal fade" id="exampleModalLong<%=place.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Add to whishlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if !current_user.nil? && !current_user.wishlists.nil? %>
          <ul class='wishlist-list' id='wishlists'>
            <% current_user.wishlists.each do |wishlist| %>
              <li class='wish-items'>
                <%= link_to place_wishlists_places_path(place, wishlist: wishlist.id), method: :post do%>
                  <span><%= wishlist.name %></span>
                  <span style='float:right'><i class='fa fa-heart-o'></i></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="account-content">
          <%= simple_form_for(@wishlist, remote: true)) do |form| %>
            <%= form.input :name %>
            <%= form.submit class:'btn btn-primary'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>