<%= render 'shared/banner' %>
<div class="container" style='margin-bottom: 30px;'>
  <div class="row">
    <div class="section-title">
      <h3>Discover new spots</h3>
      <%= link_to 'All spots >', places_path %>
    </div>
    <% @places.each do |place| %>
    <div class='col-md-6 col-xs-12'>
      <%= render 'shared/cardindex', place: place %>
    </div>
    <% end %>
  </div>

</div>

<%= render 'shared/steps' %>

<div class="container" style='margin-bottom: 30px;'>
  <div class='row'>
    <div class="section-title">
      <h3>Discover our shop</h3>
      <%= link_to 'All products >', products_path %>
    </div>
    <% @products.each do |product| %>
    <%= render 'shared/product', product: product %>
    <% end %>
  </div>
</div>
