  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Add a wishlist</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="user-account" style='padding:0 40px;'>
            <%= simple_form_for @wishlist do |form| %>
            <div class='col-md-8'>
              <%= form.input :name, placeholder: "Wishlist name", label: false, class:'wishlist_name' %>
            </div>
            <div class='col-md-4'>
              <%= form.button :button, 'Create', class:'btn btn-primary higher-btn'%>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  
  <% if @wishlists.blank? %>
    <%= render 'shared/nothing' %>
  <% else %>
    <div class="tr-profile section-padding">
      <div class="container">
        <div class="row">
          <%= render 'shared/sidebar' %>

          <div class="col-sm-8 col-md-9">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active account-info">  
                <div class="section display-information">
                  <div class="box-title">
                    <div class="icon"><i class='fa fa-user'></i></div> 
                    <span>My wishlists</span>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style='float:right;'>
                      Add a wishlist
                    </button>
                  </div>
                  <% @wishlists.each do |wishlist| %>
                    <div class='row box box-grey' style='margin-top:20px'>
                      <div class="box-title">
                        <%= wishlist.name.upcase %> <%= link_to "<i class='fa fa-times'></i>".html_safe, wishlist_path(wishlist), method: :delete %>
                      </div>
                      <% if !wishlist.places.blank? %>
                        <%  wishlist.places.each do |place|%>
                        <div class='col-md-6'>
                          <%= render 'shared/cardwish', place: place, wishlist: wishlist %>
                        </div>
                        <% end %>
                      <% else %>
                        <p>Your wishlist is empty, take a look at <%= link_to 'all our places', places_path %> to add one here</p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>