<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-xs-12'>
      <div class='banner-form index'>
        <form action="<%= places_path %>" class='index'>

          <div class="dropdown tr-change-dropdown index">
            <select name="start_month" class="form-control">
              <option value="">Start Month</option>
              <% months = %w[January February March April May June July August September October November December] %>

              <% months.each_with_index do |month, index| %>

                <option value='<%= index + 1 %>' <%= 'selected' if index + 1 == @start_month %> ><%= month %></option>
              <% end %>
            </select>
          </div><!-- /.category-change -->
          <div class="dropdown tr-change-dropdown index">
            <select name="end_month" class="form-control">
              <option selected value="">End Month</option>
              <% months.each_with_index do |month, index| %>
                <option value='<%= index + 1 %>' <%= 'selected' if index + 1 == @end_month %>><%= month %></option>
              <% end %>
            </select>
          </div><!-- /.category-change -->
          <button type="submit" class="btn btn-primary" value="Search">Search</button>
        </form>
      </div>
      <% @places.each do |place| %>
        <%= render 'shared/cardindex', place: place %>
      <% end %>
      <%= paginate @places %>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='sticky-content' style='margin-top:35px;'>
        <div class="col-md-12">
          <%= render 'shared/map_box' %>
      </div>
      </div>
    </div>
  </div>
</div>








