<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-xs-12'>
      <div class='banner-form index'>
        <form action="<%= places_path %>" class='index'>
            
          <div class="dropdown tr-change-dropdown index">
            <select name="start_month" class="form-control">
              <option selected value="">Start Month</option>
              <% months = %w[January February March April May June July August September October November December] %> 
              
              <% months.each_with_index do |month, index| %>
                <option value='<%= index + 1 %>'><%= month %></option>
              <% end %>
            </select>
          </div><!-- /.category-change -->
          <div class="dropdown tr-change-dropdown index">
            <select name="end_month" class="form-control">
              <option selected value="">End Month</option>
              <% months.each_with_index do |month, index| %>
                <option value='<%= index + 1 %>'><%= month %></option>
              <% end %>
            </select>
          </div><!-- /.category-change -->
          <button type="submit" class="btn btn-primary" value="Search">Search</button>
        </form>
      </div>
      <% @places.each do |place| %> 
        <%= render 'shared/cardindex', place: place %>
      <% end %>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='sticky-content' style='margin-top:30px;'>
        <div class="col-md-12">
          <div id="map" style="width: 100%; height: 600px;"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>


