
  <%= render 'shared/bannershow', place: @place %>
  <%= render 'shared/wishpop', place: @place %>
<div class='container'>

  <!-- DESCRIPTION -->
  <div class='row'>
    <div class='box'>
      <div class="box-title">Description</div>
      <p><%= @place.description %></p>
    </div>
  </div>

  <div class='row'>
    <div class='box' id='forecast'>
      <div class='box-title'>Wind statistc</div>
      
      <div class='row'>
        <div class='col-sm-12 col-md-7'>
          <% if @place.windfinder_stat %>
            <%= render 'shared/iframestat', place: @place %>
          <% else %>
            <p>Sorry, we don't have any stats yet</p>
          <% end %>
        </div>
        <div class='col-sm-12 col-md-5'>
          <%= render 'shared/currentweather', place: @place %>
        </div>
      </div>
    </div>
  </div>


  <!-- REVIEW -->
  <div class='row'>
    <div class='box'>
      <div class='box-title'>
        Reviews
        <button type="button" class="btn btn-success" style='float:right;' data-toggle="modal" data-target="#ReviewModal">Add a review</button>
      </div>
      <% if @reviews.count > 0 %>
        <% @reviews.each do |review| %>
          <%= render 'shared/review', review: review %>
        <% end %>
      <% else %>
        <p> No review of the spot </p>
      <% end %>
      <%= render 'shared/reviewpop', place: @place %>
    </div>
  </div>
  
</div>
<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function() {
  $("#bars li .bar").each( function( key, bar ) {
    var percentage = $(this).data('percentage') * 20;
    
    $(this).css('height', percentage + '%');
    
    $(this).animate({
      'height' : percentage + '%'
    }, 1000);
  });
});
  <% end %>
<% end %>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

